.responsive-video {
	height: 0;
	overflow: hidden;
	margin-bottom: 1.5625em;
	padding: 25px 0 67.5%;
	position: relative;
}
.responsive-video.hd {
	padding-bottom: 57.25%;
}
.responsive-video.vimeo {
	padding-top: 0;
	padding-bottom: 75%;
}
.responsive-video.vimeo.hd {
	padding-bottom: 56.25%;
}
.responsive-video.flickr.img {
	height: auto;
	overflow: auto;
	padding: 0
}
.responsive-video.flickr.img img{
	width: 100%;
	height: auto;
}
.responsive-video embed,
.responsive-video iframe,
.responsive-video object,
.responsive-video video{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}